################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/splitwisescaler/.vs
/splitwisescaler/obj
/splitwisescaler/bin/Debug/net8.0
